@charset "UTF-8";

/* TABLET */
@media screen and (max-width:768px) {
    #container-about p,
    #container-services p {
        padding: 0 30px; 
    }

    section#container-about img {
        max-width: 700px;
    }
}

/* Media query para dispositivos com largura máxima de 425px */
@media screen and (max-width: 430px) {
    /* GERAL */
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    header, footer {
        width: 100vw;
        margin: 0;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* HEADER */
    #navbar-header {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    #navbar-header img#logo {
        height: 100px;
    }

    #navbar-header a {
        font-size: 1rem;
    }

    #navbar-header a#contact {
        font-size: 0.9rem;
        padding: 5px;
    }

    /* CONTAINER-ABOUT */
    section#container-about {
        margin: 50px 0;
        max-width: 100%;
    }

    section#container-about p {
        margin: 20px 0;
        text-indent: 15px;
        text-align: justify;
    }

    section#container-about img {
        width: 100%;
        max-width: 100%;
    }

    .whatsapp-btn {
        font-size: 1rem;
        padding: 8px;
    }

    /* CONTAINER-SERVICES */
    section#container-services {
        max-width: 100%;
    }

    section#container-services p {
        margin: 20px 0;
        text-indent: 15px;
    }

    /* CONTAINER-BENEFITS */
    #container-benefits h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    #container-cards {
        flex-direction: column;
        gap: 20px;
    }

    .cards {
        max-width: 100%;
    }

    .cards h3 {
        font-size: 1.5rem;
    }

    .cards p {
        font-size: 1rem;
    }

    .cards .icon {
        width: 40px;
        padding: 8px;
        font-size: 1.5rem;
    }

    /* FOOTER */
    footer {
        height: auto;
        padding: 20px 0;
    }

    #container-footer {
        flex-direction: column;
        gap: 20px;
    }

    #container-footer i {
        font-size: 1.2rem;
        padding: 8px;
    }

    #rights {
        margin: 20px 0;
        text-align: center;
        font-size: 0.9rem;
    }
}



